@import url("https://fonts.googleapis.com/css?family=League+Gothic");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8102e;
  padding: 10px 30px;
  position: relative;
  color: white;
  z-index: 10;
}

.logo {
  height: 40px;
  position: relative;
  z-index: 99;
}

.navigation {
  margin: 0;
  display: flex;
  position: relative;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navigation li a {
  font-family: "League Gothic", sans-serif;
  color: white;
  text-decoration: none;
}

.burger-menu {
  background-color: #c8102e;
  border: none;
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .navigation {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #c8102e;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }

  .navigation.active {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  .navigation ul {
    width: 100%;
    flex-direction: column;
  }

  .navigation li {
    text-align: center;
    padding: 10px 0;
  }

  .navigation li a {
    display: block;
    width: 100%;
  }
}
