
.slide12-caption h3,
.slide12-caption p {
  color: white; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.slide3-background {
  background-color: #888b8d;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-video {
  max-width: 80%;
  height: auto;
}


.slide4-animated-content {
  position: relative;
  height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-image {
  opacity: 0;
  transform: scale(0.5); 
  animation: fadeInScaleUp 2s ease forwards;
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
